.deduction-items-wrapper table {
  width: 100%;
}

.deduction-items-wrapper table tr {
  border: 0;
}

.deduction-items-wrapper table tr:nth-child(even) {
  background-color: #e5f3fe;
}

.result-table {
  margin-top: 0.5rem;
  border: 0.5px solid #00000088;
  font-weight: bold;
}

.result-table td:first-child {
  background-color: #e5f3fe;
}

.result-table td:last-child {
  float: right;
}

.result-table td:last-child label::before {
  content: '¥ ';
}
