.payslip-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
}

.payslip-form-wrapper .header-wrapper {
  width: 100%;
  margin-bottom: 1rem;
}

.payslip-form-wrapper .header-wrapper div {
  margin: 1rem 0;
}

.payslip-form-wrapper .header-wrapper div * {
  margin-right: 0.5rem;
}
