.subform1Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 0.8rem;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 0.5px solid black;
  border-bottom: 0;
  border-right: 0;
}

.row div {
  position: relative;
  flex: 1;
  width: 100%;
  text-align: center;
}

.row label {
  display: flex;
  flex: 1.5;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 0.5rem;
}

.firstRow {
  border-top: 0;
  min-height: 3rem;
  max-height: 3rem;
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.row input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.secondSubrow > div:first-child {
  display: flex;
  flex-direction: column;
}

.secondSubrow {
  flex-direction: row;
  min-height: 2.5rem;
  border-bottom: 0;
}

.firstSubrow {
  flex: 0.7 !important;
  display: flex;
  min-height: 2rem;
  border-bottom: 0.5px solid black;
  border-left: 0;
}

.firstSubrow > div {
  border: 0.5px solid black;
  border-top: 0;
  border-bottom: 0;
}

.secondSubrow {
  min-height: 2.5rem;
  display: flex;
  border-left: 0;
}

.secondSubrow > div {
  border: 0.5px solid black;
  border-top: 0;
  border-bottom: 0;
}

.firstSubrow > label,
.secondSubrow > label {
  max-width: 6rem;
}
