.form11Wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  border: 0.5px solid black;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-width: 1.5rem;
  padding: 1rem;
}

.titleContainer > label {
  padding: 0.2rem;
}

.subformWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
