.form4-wrapper {
  display: flex;
  text-align: center;
}

.form4-wrapper .form4-title {
  display: flex;
  flex-direction: column;
  border: 0.5px solid black;
  align-items: center;
  width: 45px;
  justify-content: center;
  border-right: 0;
}

.form4-wrapper table {
  width: 100%;
  border-spacing: 0;
}

.form4-wrapper table tr {
  height: 3rem;
}

.form4-wrapper table td {
  text-align: center;
  padding: 0.5rem;
  border: 0.5px solid #3d3d3d;
}

.no-top-border {
  border-top: 0 !important;
}

.no-left-border {
  border-left: 0 !important;
}

.no-right-border {
  border-right: 0 !important;
}

.no-bottom-border {
  border-bottom: 0 !important;
}

.dotted-bottom-border {
  border-bottom: 0.5px dotted #3d3d3d !important;
}

.isCrossed {
  text-align: center;
  width: 100px;
  padding: 0.5rem;
  border: 0.5px solid #3d3d3d;
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}

.subform4-wrapper table tr:last-child {
  height: 2rem;
  background: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) calc(50% - 0.8px),
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0) calc(50% + 0.8px),
    rgba(0, 0, 0, 0) 100%
  );
}
