:root {
  --main-color: #8ab0ab;
  --main-color-200: #8ab0ab22;
  --main-color-400: #8ab0ab44;
  --main-color-700: #8ab0ab77;
  --main-color-800: #8ab0ab88;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  background-color: var(--main-color-800);
  margin: 0.2rem;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.75;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
